.board,
.flip_board {
  display: grid;
  grid-template-columns: repeat(8, 30px);
  box-shadow: 1px 1px 5px black;
  transition: 0.3s;
  width: fit-content;
  position: relative;
}

.flip_board {
  transform: rotate(180deg);
}

.square,
.promotion_square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square_char {
  position: absolute;
  right: 1px;
  bottom: -8px;
  font-size: 8px;
}

.square_num {
  position: absolute;
  left: 1px;
  top: -8px;
  font-size: 8px;
}

.pieceImage,
.flip_pieceImage {
  cursor: pointer;
  font-size: 2rem;
}

.flip_pieceImage {
  transform: rotate(180deg);
}

.possible_square,
.capture_square {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba(1, 1, 1, 0.2);
  position: absolute;
}

.capture_square {
  width: 70%;
  height: 70%;
  background-color: transparent;
  border: 8px solid rgba(1, 1, 1, 0.2);
}

.promotions {
  position: absolute;
  top: 0;
  right: -40px;
  width: 30px;
  height: 120px;
  box-shadow: 1px 1px 5px black;
  border-radius: 3px;
}

@media (min-width: 768px) {

  .board,
  .flip_board {
    grid-template-columns: repeat(8, 60px);
  }

  .square,
  .promotion_square {
    width: 60px;
    height: 60px;
  }

  .square_char {
    bottom: -12px;
    font-size: 12px;
  }

  .square_num {
    font-size: 12px;
    top: -12px;
  }

  .pieceImage,
  .flip_pieceImage {
    font-size: 3.5rem;
  }

  .promotions {
    right: -70px;
    width: 60px;
    height: 240px;
  }
}
