.board {
  display: grid;
  grid-template-columns: repeat(8, 30px);
  box-shadow: 1px 1px 5px black;
  transition: 0.3s;
  width: fit-content;
  position: relative;
}

.square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square_char {
  position: absolute;
  right: 1px;
  bottom: -12px;
  font-size: 12px;
}

.square_num {
  position: absolute;
  left: 1px;
  top: -12px;
  font-size: 12px;
}

.possible_square {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba(1, 1, 1, 0.2);
}

@media (min-width: 768px) {

  .board {
    grid-template-columns: repeat(8, 60px);
  }

  .square {
    width: 60px;
    height: 60px;
  }

}
